@media screen and (max-width:1599px) {

}

/* ================================================================================================== */
@media screen and (max-width:1399px) {
    .container { max-width: 1140px; }
}

/* ================================================================================================== */
@media screen and (max-width:1199px) {
    .container { max-width: 960px; }

    .nav li a {
        padding: 0 5px 0 30px;
    }

    .descspan { display: none; }
    .desc1 { width: 30%; }
}

/* ================================================================================================== */
@media screen and (max-width:991px) {
    .container { max-width: 720px; }

    .nav {
        display: none;
        top: 22%;
        left: 5%;
    }

    .navbtn {
        right: 11%;
    }

    .toggle {
        display: block;
    }

    .navbar1 {
        display: flex;
        padding: 20px 0;
    }

    .content {
        top: 40%;
    }

    .a { margin-top: -85px; }

    .b1 {
        width: 33.33%;
    }

    .bg_22, .bg_23 {
        display: none;
    }

    .desc1 { width: 45%; }
    .bg_21 img { width: 164px; }
    .bg-2 { background-size: cover; }
    .bg_24 { margin-top: 20px; }
    .bg_25 { display: block; }

    .reward2  h1 { font-size: 36px;  padding-top: 40px; }
    .reward2_content { margin-top: 45px; }

    .footer11 { width: 40%; }
        
}

/* ================================================================================================== */
@media screen and (max-width:767px) {
    .container { max-width: 540px; }

    .navbtn { right: 13%; }

    .nav li a { 
        font-size: 20px;
        padding: 10px 17px;
    }

    .desc1 { width: 100%;  }
    .navbtn button { padding: 5px 15px; font-size: 20px; } 
    .navbar span { font-size: 28px; }
    .nav li a:hover, .nav li .active { font-size: 20px; }
    .reward1 { width: 100%; text-align: center; }
    .reward2 { width: 100%; text-align: center; padding-bottom: 30px; }
    .reward2_content { justify-content: space-around; }
    .abc22 { padding-bottom: 25px; }
    .footer11 { width: 100%; }
}

/* ================================================================================================== */
@media screen and (max-width:575px) {
    .container { max-width: 100%; }

    .navbtn { right: 15%; }

    .nav li a { 
        padding: 8px;
    }

    .content { 
        font-size: 50px;
        letter-spacing: 25px;
        top: 36%;
    }

    .b1 {
        width: 50%;
    }

    .d p {
        width: 300px;
    }

    .bg_21 img { width: 150px; }
    .bg_25 h2 { font-size: 40px; }
    .bg_24 { margin-top: 0; }
    .bg_24 button { font-size: 15px;  margin-top: 12px; }
}

/* ================================================================================================== */
@media screen and (max-width:425px) {
    .nav li a:hover, .nav li .active { font-size: 20px; }

    .content { font-size: 40px; }
    .b1 { width: 100%; }
    .bg_2 { margin-top: 100px; }
    .bg_21 img { width: 120px; }
    .abc1 { width: 300px; }
    .abc2 { padding: 0 10px; }
    .abc21 p { width: 175px; }
    .abc22 form { padding: 3px 5px; }
    .abc22 button { padding: 5px; }
}