@media screen and (max-width:1599px) {

}

/* ================================================================================================== */
@media screen and (max-width:1399px) {
    .container { max-width: 1140px; }
}

/* ================================================================================================== */
@media screen and (max-width:1199px) {
    .container { max-width: 960px; }

    .nav li a {
        padding: 0 5px 0 30px;
    }
}

/* ================================================================================================== */
@media screen and (max-width:991px) {
    .container { max-width: 720px; }

    .nav {
        display: none;
        top: 22%;
        left: 5%;
    }

    .navbtn {
        right: 11%;
    }

    .toggle {
        display: block;
    }

    .navbar1 {
        display: flex;
        padding: 20px 0;
    }

    .content {
        top: 40%;
    }

    .a { margin-top: -85px; }

    .b1 {
        width: 33.33%;
    }
}

/* ================================================================================================== */
@media screen and (max-width:767px) {
    .container { max-width: 540px; }

    .navbtn { right: 13%; }

    .nav li a { 
        font-size: 20px;
        padding: 10px 17px;
    }

    .navbtn button { padding: 5px 15px; font-size: 20px; } 
    .navbar span { font-size: 28px; }
    .nav li a:hover, .nav li .active { font-size: 20px; }
}

/* ================================================================================================== */
@media screen and (max-width:575px) {
    .container { max-width: 100%; }

    .navbtn { right: 15%; }

    .nav li a { 
        padding: 8px;
    }

    .content { 
        font-size: 50px;
        letter-spacing: 25px;
        top: 36%;
    }

    .b1 {
        width: 50%;
    }

    .d p {
        width: 300px;
    }
}

/* ================================================================================================== */
@media screen and (max-width:425px) {
    .nav li a:hover, .nav li .active { font-size: 20px; }

    .content { 
        font-size: 40px;
    }

    .b1 {
        width: 100%;
    }

}